<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Formulario</h1>
                <form #tipoAnimalForm="ngForm" (ngSubmit)="addTipoAnimal(tipoAnimalForm)">
                    <input type="hidden" name="_id" [(ngModel)]="tipoAnimalService.selectedTipoAnimal._id">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa el nombre del tipo de animal"
                            required="true" name="descripcion" [(ngModel)]="tipoAnimalService.selectedTipoAnimal.descripcion">
                    </div>
                    <button class="btn btn-secondary" (click)="resetForm(tipoAnimalForm)">
                        Limpiar
                    </button>
                    <button class="btn btn-primary mr-2">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoAnimal of tipoAnimalService.tiposAnimales">
                    <td>{{tipoAnimal.descripcion}}</td>
                    <td>
                        <button class="btn btn-secondary" (click)="editTipoAnimal(tipoAnimal)"><i
                                class="material-icons">edit</i></button>
                        <button class="btn btn-danger" (click)="deleteTipoAnimal(tipoAnimal._id!)"><i
                                class="material-icons">delete</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>