<div class="wrapper">
    <app-navbar></app-navbar>
    <app-aside></app-aside>
    <div class="content-wrapper">
        <app-header></app-header>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- jquery validation -->
                        <div class="card card-success">
                          <div class="card-header">
                            <h3 class="card-title">Formulario</h3>
                          </div>
                          <!-- /.card-header -->
                          <!-- form start -->
                          <form id="quickForm" form #mascotaForm="ngForm" (ngSubmit)="addMascota(mascotaForm)">
                            <input type="hidden" name="_id" [(ngModel)]="mascotaService.selectedMascota._id">
                            <div class="card-body">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Nombre de mascota</label>
                                <input type="text" class="form-control" placeholder="Ingresa el nombre de la mascota" required name="nombre" [(ngModel)]="mascotaService.selectedMascota.nombre">
                              </div>
                              <div class="form-group">
                                <label>Tipo de animal</label>
                                <select class="form-control custom-select" [(ngModel)]="mascotaService.selectedMascota.tipoAnimal" required name="tipoAnimal">
                                    <option selected disabled>Ingresa el tipo de animal</option>
                                    <option *ngFor="let tipoAnimal of tipoAnimalService.tiposAnimales"
                                    [value]="tipoAnimal._id">
                                    {{tipoAnimal.descripcion}}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                <label>Tipo de animal</label>
                                <select class="form-control custom-select" [(ngModel)]="mascotaService.selectedMascota.raza" required name="raza">
                                    <option selected disabled>Ingresa la raza de animal</option>
                                    <option *ngFor="let raza of razaService.razas" [value]="raza._id">
                                        {{raza.descripcion}}
                                    </option>
                                    </select>
                              </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button class="btn btn-outline-danger" (click)="resetForm(mascotaForm)">
                                    Cancelar
                                </button>
                                <button class="btn btn-outline-primary mr-2">
                                    Publicar
                                </button>
                            </div>
                          </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Registro de mascotas</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo de animal</th>
                                            <th>Raza</th>
                                            <th>Operaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let mascota of mascotaService.mascotas">
                                            <td>{{mascota.nombre}}</td>
                                            <td>{{mascota.tipoAnimal.descripcion}}</td>
                                            <td>{{mascota.raza.descripcion}}</td>
                                            <td>
                                                <button class="btn btn-secondary" (click)="editMascota(mascota)"><i
                                                        class="material-icons">edit</i></button>
                                                <button class="btn btn-danger"
                                                    (click)="deleteMascota(mascota._id!)"><i
                                                        class="material-icons">delete</i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo de animal</th>
                                            <th>Raza</th>
                                            <th>Operaciones</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>