<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Formulario</h1>
                <form #razaForm="ngForm" (ngSubmit)="addRaza(razaForm)">
                    <input type="hidden" name="_id" [(ngModel)]="razaService.selectedRaza._id">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa el nombre de la raza"
                            required="true" name="descripcion" [(ngModel)]="razaService.selectedRaza.descripcion">
                    </div>
                    <button class="btn btn-secondary" (click)="resetForm(razaForm)">
                        Limpiar
                    </button>
                    <button class="btn btn-primary mr-2">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let raza of razaService.razas">
                    <td>{{raza.descripcion}}</td>
                    <td>
                        <button class="btn btn-secondary" (click)="editRaza(raza)"><i
                                class="material-icons">edit</i></button>
                        <button class="btn btn-danger" (click)="deleteRaza(raza._id!)"><i
                                class="material-icons">delete</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>